{% extends 'base.html' %}

{% block title %}

	Login

{% endblock %}

{% block content %}


<h1>Login</h1>
<div class="mb-3">
<form method="POST">
	{% csrf_token %}

	<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="Username", name="username">
  <label for="floatingInput">Username</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
  <label for="floatingPassword">Password</label>
</div>
<br>


	<button class="btn btn-outline-success">Login</button>
</form>
</div>




{% endblock %}