{% extends 'base.html' %}
{% load static %}

{% block title %}
Create New Post
{% endblock %}

{% block content %}


<h1>{{page_user.user.username}}'s Profile</h1>

<br>



<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">
    
    {% if page_user.profile_pic %}
     	<img src="{{ page_user.profile_pic.url }}" class="img-fluid rounded-start" alt="..." width="110" height="110">
    {% else %}
    	<img src="{% static 'myblog/images/default-profile-pic.png' %}" class="img-fluid rounded-start" width="110" height="110">
    {% endif %}

    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">
        	<a href="{% url 'user_profile' page_user.id %}">
        		{{ page_user.first_name }} 
				{{ page_user.last_name }}
			</a>
		</h5>
        <p class="card-text">{{ page_user.bio }}</p>
        <p class="card-text"><small class="text-muted">
        	<a href="{{ post.author.profile.github_url }}">GitHub</a> |
        	<a href="{{ post.author.profile.twitter_url }}">Twitter</a> |
        	<a href="{{ post.author.profile.linkedin_url }}">LinkedIn</a>
        </small></p>
      </div>
    </div>
  </div>
</div>



{% endblock %}